<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a class="side-nav-toggle" href="javascript:void(0);">
                    <i class="fas fa-th"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="user-profile dropdown">
                <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="profile-img img-fluid" src="../../../../public/assets/images/user.jpg" alt="">
                    <div class="user-info">
                        <span class="name pdd-right-5">Administrateur</span>
                        <i class="fas fa-angle-down" style="font-size: 14px;"></i>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/admin/account">
                            <i class="fas fa-cog"></i>
                            <span>Parametre</span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="/admin/account">
                            <i class="fas fa-power-off"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="notifications dropdown">
                <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-bell"></i>
                </a>

                <ul class="dropdown-menu ">
                    <li class="notice-header">
                        <i class="fas fa-bell"></i>
                        <span>Notifications</span>
                    </li>
                    <li>
                        <ul class="list-info overflow-y-auto relative scrollable">
                            <li>
                                <a href="index.html">
                                    <img class="thumb-img" src="../../../../public/assets/images/avatars/thumb-5.jpg" alt="">
                                    <div class="info">
                                        <span class="title">
                                            <span class="font-size-14 text-semibold">Jennifer Watkins</span>
                                        <span class="text-gray">commented on your <span class="text-dark">post</span></span>
                                        </span>
                                        <span class="sub-title">5 mins ago</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="notice-footer">
                        <span>
                            <a href="#" class="text-gray">Toutes les notifications <i class="ei-right-chevron pdd-left-5 font-size-10"></i></a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>