<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title> Future Cinema</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../public/assets/images/logo/favicon.png">

    <!-- plugins css -->
    <link rel="stylesheet" href="../../../public/assets/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="../../../public/assets/bower_components/PACE/themes/blue/pace-theme-minimal.css" /> -->
    <link rel="stylesheet" href="../../../public/assets/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" />

    <!-- page plugins css -->
    <link rel="stylesheet" href="../../../public/assets/bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="../../../public/assets/bower_components/nvd3/build/nv.d3.min.css" />

    <!-- core css -->
    <link href="../../../public/assets/css/ei-icon.css" rel="stylesheet">
    <!-- <link href="../../../public/assets/css/themify-icons.css" rel="stylesheet">
    <link href="../../../public/assets/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="../../../public/assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../../public/assets/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../../public/assets/css/animate.min.css" rel="stylesheet">
    <link href="../../../public/assets/css/app.css" rel="stylesheet">
</head>