<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a href="/admin/account">
                <div class="logo logo-dark" style="background-image: url('../../../public/assets/images/logo/logo.png')"></div>
                <div class="logo logo-white" style="background-image: url('../../../public/assets/images/logo/logo-white.png')"></div>
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="/admin/account">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item active">
                <a class="mrg-top-30" href="/admin/account">
                    <span class="icon-holder">
                            <i class="fas fa-home"></i>
                        </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/admin/account/salles">
                    <span class="icon-holder">
                        <i class="fas fa-igloo"></i>
                        </span>
                    <span class="title">Salles</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/admin/account/movies">
                    <span class="icon-holder">
                        <i class="fas fa-film"></i>
                        </span>
                    <span class="title">Films</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/admin/account/programmes">
                    <span class="icon-holder">
                        <i class="fas fa-tasks"></i>
                        </span>
                    <span class="title">Programmes</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/admin/account/reservations">
                    <span class="icon-holder">
                        <i class="far fa-address-book"></i>
                        </span>
                    <span class="title">Reservations</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/admin/account/contacts">
                    <span class="icon-holder">
                        <i class="far fa-envelope"></i>
                        </span>
                    <span class="title">Messages</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/admin/account/clients">
                    <span class="icon-holder">
                        <i class="far fa-user"></i>
                        </span>
                    <span class="title">Clients</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-power-off"></i>
                        </span>
                    <span class="title">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
</div>